.compact-table th,
.compact-table td {
  padding: 2px;
  text-align: left;
}

.compact-table pre {
  margin: 0;
  padding: 2px 4px;
  font-size: 0.9em;
}

.compact-table a {
  text-decoration: underline;
  color: inherit;
}
